html, body, ul, ol, li, dl, dt, dd, p, pre,
h1, h2, h3, h4, h5, h6, blockquote,
form, fieldset, legend, table {
	margin: 0px;
	padding: 0px; }

body {background-color: #fff; height: auto;}
body, .fMain {font-family: arial,tahoma,sans-serif; font-size: 12px;}

a {outline: none;}
a img {border: none;}

.c, .tc td, .tc th {text-align: center !important;}
.cd {margin-left: auto !important; margin-right: auto !important;}
.l, td.l, th.l {text-align: left !important;}
.r, td.r, th.r {text-align: right !important;}
.j, td.j, th.j {text-align: justify !important;}

.fl {display: block; float: left !important;}
.fr {display: block; float: right !important;}

.inline {display: inline !important;}

.block {display: block;}

.hid {display: none;}

.b {font-weight: bold !important;}
.nb {font-weight: normal !important;}
.u {text-decoration: underline !important;}
.nu {text-decoration: none !important;}
.i {font-style: italic !important;}
.ni {font-style: normal !important;}
.capit {text-transform: capitalize !important;}
.upper {text-transform: uppercase !important;}
.lower {text-transform: lowercase !important;}

.none {
	border: none !important;
	font-weight: normal !important;
	text-decoration: none !important;
	}

.pad0 {padding: 0 !important;}
.mar0 {margin: 0 !important;}

.posrel {position: relative !important;}
.posabs {position: absolute !important;}

.w100 {width: 100% !important;}
.wauto {width: auto !important;}

.nbr, .nbr td, .nbrall * {white-space: nowrap !important;}

.clear {clear: both; min-height: 1px; line-height: 1px; font-size: 1px;}
.clearb {clear: both;}
.clearl {clear: left;}
.clearr {clear: right;}

table.gen {border-collapse: collapse;}
table.gen td {vertical-align: top;}

.va-top {vertical-align: top !important;}
.va-mid {vertical-align: middle !important;}
.va-bot {vertical-align: bottom !important;}

.f75 {font-size: 75% !important;}
.f80 {font-size: 80% !important;}
.f85 {font-size: 85% !important;}
.f90 {font-size: 90% !important;}
.f95 {font-size: 95% !important;}
.f100 {font-size: 100% !important;}
.f105 {font-size: 105% !important;}
.f110 {font-size: 110% !important;}
.f115 {font-size: 115% !important;}
.f120 {font-size: 120% !important;}
.f125 {font-size: 125% !important;}
.f130 {font-size: 130% !important;}
.f135 {font-size: 135% !important;}
.f140 {font-size: 140% !important;}
.f145 {font-size: 145% !important;}
.f150 {font-size: 150% !important;}
.f155 {font-size: 155% !important;}
.f160 {font-size: 160% !important;}

.arial {font-family: Arial !important;}
.verdana {font-family: Verdana !important;}
.tahoma {font-family: Tahoma !important;}
.tnr {font-family: "Times New Roman" !important;}


label.disabled {
	color:  #888;
}

a, a * {
	cursor: pointer;
	outline: none;
}

form {border:medium none;}

fieldset {
float: left;
border:medium none;
padding: 0px;
}

legend {display: none;}

ul, li {
	list-style-type:    none;
}

#main {/*height: expression(this.scrollHeight < 1500 ? "1500px" : "auto"); min-height: 1500px;*/ padding: 6px;}
#main.nominheight {height: auto !important; min-height: inherit !important;}

.hint {color: #999; font-size: 80%;}
.inpInact {color: #aaa !important;}

* html #main,
* html #facebox .b,
* html #facebox .tl,
* html #facebox .tr,
* html #facebox .bl,
* html #facebox .br,
* html #facebox div.alert,
* html #footer {behavior: url('../../../css/blue/iepngfix/iepngfix.htc');}
* html #facebox div.alert {padding: 10px;}
* html #facebox {padding-left: 270px;}
* html #main {width: 100%;}

/* Messages for developers */
#dev-errors {display: absolute;}
#dev-errors ul {}
#dev-errors li {
	border: 1px solid black;
	list-style: none;
	padding: 5px;
	margin: 5px;
}
#dev-errors .error {background-color: #d41111;}
#dev-errors .warning {background-color: #ff7b06;}
#dev-errors .notice {background-color: #70f37d;}
#dev-errors .unknown {background-color: #ff06bc;}


#header {background-color: #efefef; margin-bottom: 4px; padding: 10px; position: relative; zoom: 1;}
#header h1, #header .h1, #header2 h1, #header2 .h1 {color: #2263AD; display: inline; font-size: 18px; font-weight: normal; margin-left: 3px; text-transform: uppercase;}
#header form, #header2 form {display: inline;}

.admMainMenu {height: 32px; line-height: 32px;}

.submits {padding: 7px 0; text-align: right;}

.pagination {font-weight: bold;}
.pagination a {color: black; text-decoration: underline;}


.clRed, .clRed * {color: #FF0033 !important;}
.clGreen {color: #009900 !important;}
.clAmber {color: #FC6600 !important;}
.clBlue {color: #2263AD !important;}

.bggreen {background-color: #090 !important;}
.bgred {background-color: #f00 !important;}
.bgyel {background-color: #ff0 !important;}
.bgyel2 {background-color: #fdd539 !important;}
.bgblue {background-color: #06f; !important;}
.bgmag {background-color: #f0f; !important;}

.bluebord_t {border-top: 1px solid #2263AD;}
.bluebord_r {border-right: 1px solid #2263AD;}
.bluebord_b {border-bottom: 1px solid #2263AD;}
.bluebord_l {border-left: 1px solid #2263AD;}

.botmar4 {margin-bottom: 4px !important;}
.topmar10 {margin-top: 10px !important;}

.thickbox {border: 5px solid #2263AD;}
.thickbox .regular {margin: 0;}

table.regular {
	background-color: #2263AD !important;
	margin: 0 0 4px 0;
}

table.regular th {
	color: #fff;
	font-size:13px;
	padding: 0 5px;
	text-align:left;
}
table.regular th.bgyel2 {color: #000;}

table.regular th select, table.regular th input {text-transform: none;}

table.regular th a {color: #fff; text-decoration: none;}
table.regular th a.active, table.regular th.active, table.regular th.active_desc {text-decoration: underline;}

table.regular tr {
	font-size: 12px;
	line-height:20px;
}

table.regular td {
	background-color: white;
	padding: 0 5px;
}

table.regular td a {color: black;}

table.regular .pair td {background-color: white;}
table.regular .odd td {background-color: #d4e3f2;}
table.regular .own td {background-color: #ffbbbb !important;}

table.regular.tdexpad td {
	padding: 1 5px;
}

table.regular .lw {float: left; width: 100%;}

table.hz {
	background-color: white;
	border: 5px solid #2263AD;
	border-collapse: collapse;
	margin: 0 0 4px 0;
}
table.hz td, table.hz th {
	border-bottom: 1px solid #2263AD;
	font-size:13px;
	padding: 2px 5px;
	vertical-align: top;
}
table.hz td {
	background-color: white;
	text-align: left;
}
table.hz.bordered td {
	border-right: 1px solid #2263AD;
}
table.hz tr.odd td {background-color: #a9d6fe;}

table.regular tr.odd_custom td {background-color: #fcd342;}

table.hz tr.softyel td {background-color: #fffdd7;}
table.hz tr.softmag td {background-color: #ffd9fe;}
table.hz th {
	background-color: #2263AD;
	color: #FFF;
	font-weight: bold;
	text-align:right;
	width:180px;
}
table.hz table {
	background-color: white;
	border: none;
}
table.hz table td {
	background-color: white;
	border: none;
	padding: 1px;
	text-align: center;
}
table.hz table td {vertical-align: middle;}
table.hz table td.score {width: 9%;}
table.hz table tr.pair td {background-color: #c0d2ea;}

.onajax {color: #aaa; display: none; font-size: 11px;}
.ajaxing .onajax {display: block;}

h1.adminHome {color: #2263AD; font-size: 24px; font-weight: bold; margin: 30px 0 0 0; text-align: center;}

img.img_delete_user, img.img_add_new_user {
	cursor: pointer;
}

div.popup_module_marks {
	display: none;
	position: absolute; 
	top: 5px; 
	left: 10px; 
	width: 215px; 
	border: 5px solid #2263AD; 
	background: #ffffff;
}

div.popup_module_marks ul {
	text-align: left;
}

div.popup_module_marks ul li.with_border {
	border-bottom:1px solid #2263AD;
}

div.popup_module_marks ul li a {
	text-decoration: none;
}

div.popup_module_marks ul li img {
	margin: 2px 5px 0 12px;
}

a.sabre_title {
	text-decoration: none;
}

.report_main_container {
    display: none;
	border: 2px solid #2263AD;
    border-radius: 5px 5px 5px 5px;
/*    display: inline-block;*/
    margin: 0 auto;
    overflow: hidden;
    padding: 3px;
    width: 400px; 
}

.report_progressbar {
    background-color: #D4E3F2;
    border-radius: 3px 3px 3px 3px;
    color: #000000;
    font-size: 12px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.report_progressbar td {
	font-size: 12px;
}
