<div id="header">
<?php
	echo ddMenuAdmin('em');
?>
</div>
<form name="email_setup" method="post" action="<?php echo $_SERVER['PHP_SELF'] . '?action=confirm_email_update'; ?>" enctype="multipart/form-data">
<table>
	<tr>	
		<td><b><?php echo 'Admin Email:'; ?></b></td>
		<td><?php 
			echo '<input type="text" name="admin_email" value="' . $admin_email . '" size="100">' . 
			     '&nbsp;' . 
				 '<input type="submit" name="Send" value="Update">'; 
		?></td>
	</tr>
</table>
</form>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
